.body1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./imagenes/fondo/Diseño\ sin\ título.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    background-size: auto;
    
    

}

body{
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    background-image: url(./imagenes/fondo/Diseño\ sin\ título.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    

}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(69, 75, 94);
    padding: 10px;
}

.center1 {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(69, 75, 94);
    padding: 10px;
}

.img{float: right;}

